{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-4">
    <h2>{{project.name}}</h2>
    <p> {{project.id}} </p>
    <p> {{project.description}} </p>
  </div>

  <div id="jstree_div" class="col-8">
    <script type="text/javascript">
      let jstree_div = document.getElementById('jstree_div');
      let url = '/requirements/tree_data/' + "{{ project.id }}"
      function xynta(){
        fetch(url).then(function (response){
          response.json().then(
                  function(r){jQuery('#jstree_div').jstree(
                          {'core':{'data':r.data}}
                  )}
          )
        })
      }
      xynta()
    </script>
  </div>
</div>

{% endblock %}
