{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">

    <div class="col-4">

        <form action="{{ url_for('user.process_create') }}" method="POST">
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username() }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password() }}
            </div>
            <div class="form-group">
                {{ form.user_role.label }}<br>
                {{ form.user_role() }}
            </div>
            {{ form.submit }}
        </form>
    </div>
    <div class="col-8">

    </div>
</div>
{% endblock %}