{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <form action="{{ url_for('requirements.save_requirement') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="wrapper">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.requirement.label }}
                        {{ form.requirement() }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.project.label }}
                        {{ form.project() }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.name.label }}
                        {{ form.name() }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.type.label }}
                        {{ form.type() }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.priority.label }}
                        {{ form.priority() }}
                    </div>
                </div>
                <br>
                <div class="=form-row">
                    {{ form.description() }}
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.tags.label }}
                        {{ form.tags() }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.status.label }}
                        {{ form.status() }}
                    </div>
                    <div class="form-group col-md-2">
                        {{ form.release.label }}
                        {{ form.release() }}
                    </div>
                </div>
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='/js/get_requirements_list.js') }}"></script>
{% endblock %}