
<h3>История требования</h3>
{% for version in versions %}
    {% if version['status_id'] == 3 %}
        <b>
    {% endif %}
        <b><a class="req_title" onclick="get_requirement({{version['requirement_id']}})">{{ version['name'] }} ({{version['status']}})</a></b>
    {% if version['release'] == True %}
        <p>RELEASE</p>
    {% endif %}
    <p>{{ version['created_date'].strftime('%d.%m.%Y %H:%M') }}</p>
    <p>{{ version['description'] }}</p>
    {% if version['status_id'] == 3 %}
        </b>
    {% endif %}
    <hr/>
{% endfor %}
